.signup{
    min-width: 100vw;;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.container{
    width: 20rem;
    height: 20rem;
    background: rgba(12, 8, 8, 0.411);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}
.container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    justify-content: center;
}
form > input{
    height: 2rem;
    padding: 0rem 1rem;
    border-radius: 0.5cqw;
    border: none;
    background-color: transparent;
    border-bottom: 0.1rem solid rgb(250, 245, 245);
    outline: none;
    color: white;
}
.submit{
    margin-top: 2rem;
    padding: 0.5rem 0rem;
    background-color: red;
    color: white;
    border: none;
}
.signin::-webkit-input-placeholder {
    color: white;
}
.signin:-moz-placeholder {
    color: white;
    opacity: 1;
}
.signin::-moz-placeholder {
    color: white;
    opacity: 1;
}
.signin:-ms-input-placeholder {
  
    color: white;
  
}

.span1{
    color: gainsboro;
    font-size: 1rem;
}
.span2:hover{
text-decoration: underline;
cursor: pointer;
}
button{
    cursor: pointer;
}
.passwrd{
    display: none;
    color: red;
}
.wrongpasswrd{
    display: block;
}
.span2{
    color: white;
}