*{
    margin: 0;padding: 0;
}
/* best for using media query for respnsiveness */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */
.homescreen{
    width: 100vw;
    height: auto;
    background-color: #141414;
    overflow: hidden;
}
.homescreen button{
    cursor: pointer;
}